@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mobile-width {
		@apply w-full sm:max-w-[640px] md:max-w-[920px] mx-auto;
	}
}

body {
	background-color: theme('colors.surface.DEFAULT');
	font-family: 'Karla', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.debug-red {
	border: 2px solid rgb(255, 0, 0);
}

.debug-green {
	border: 2px solid rgb(0, 255, 0);
}

.debug-blue {
	border: 2px solid rgb(0, 0, 255);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: theme('colors.transparent');
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: theme('colors.surface.dark');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: theme('colors.primary.DEFAULT');
}
