@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mobile-width {
		@apply w-full sm:max-w-[640px] md:max-w-[920px] mx-auto;
	}
}

body {
	background-color: theme('colors.surface.DEFAULT');
}

.logo-font {
	font-family: 'Lilita One', sans-serif;
}

.debug-red {
	border: 2px solid rgb(255, 0, 0);
}

.debug-green {
	border: 2px solid rgb(0, 255, 0);
}

.debug-blue {
	border: 2px solid rgb(0, 0, 255);
}
